### $\text{Data Anaylsis of S\&P500 Index}$

#### $\text{Pre-requisites \tiny{(ALWAYS RUN THESE CELLS)}}$

Importing libraries

In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
from typing import Literal

Importing Data

In [11]:
ticker_data = pd.read_excel('S&P500data.xlsx')
ticker_data.columns = list(ticker_data.iloc[0,:])

In [12]:
df = ticker_data.drop(labels=0,axis=0)

In [14]:
df

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters,Founded
1,A,Agilent Technologies,Health Care,Life Sciences Tools & Services,"Santa Clara, California",1999
2,AAL,American Airlines Group,Industrials,Passenger Airlines,"Fort Worth, Texas",1934
3,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1977
4,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2013 (1888)
5,ABNB,Airbnb,Consumer Discretionary,"Hotels, Resorts & Cruise Lines","San Francisco, California",2008
...,...,...,...,...,...,...
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",1927
501,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",1969
502,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",1873
503,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",1952

In [70]:
def getSymbolData(df:pd.DataFrame, sym:str, info_type:Literal['Overall','Balance Sheet',''] = 'Overall') -> any:
    """
    Get required data for the desired symbol.
    df: Excel Data
    sym: Symbol
    info_type: The type of information required. One among: ['Overall','Balance Sheet'], default = 'Overall'
    """
    record = df[df['Symbol']==sym]
    ticker = yf.Ticker(sym)

    return record

In [71]:
def display_data(df:pd.DataFrame, is_detailed:bool = False) -> None:
    """
    Displays data as required
    df: Pandas DataFrame to be displayed
    is_detailed: Boolean value whether to generate a detailed display, default = False 
    """
    if is_detailed:
            pd.set_option('display.max_rows', None)
            pd.set_option('display.max_columns', None)
            pd.set_option('display.width', None)
            pd.set_option('display.max_colwidth', None)
            display(df)
            pd.reset_option('all')
    else:
        display(df)
    return

#### $\text{Data Analysis}$

In [72]:
symbol_data = getSymbolData(df,'AAPL')

In [73]:
display_data(symbol_data,True)

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters,Founded
3,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals","Cupertino, California",1977

C:\Users\Hrriday\AppData\Local\Temp\ipykernel_9580\4093611274.py:13: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  pd.reset_option('all')